@using MatheHero.Shared.Models
@using MatheHero.Shared.Resources.Shared.Pages.Authentifizierung
@using MatheHero.Shared.Shared.Pages.Authentifizierung
@using MatheHero.Shared.Shared.Interface
@using MatheHero.Shared.Shared.Service

@inject IStringLocalizer<Login> _localizer
@inject IAuthService _authService
@inject IFirestoreService _firestoreService
@inject AuthStateService AuthStateService
@inject NavigationManager Navigation
@inject IPlatformService Platform

<EditForm Model="@SignInModel" OnValidSubmit="DoLoginAsync">
	<DataAnnotationsValidator />
	<div class="form-group">
		<label>@_localizer[LoginResourceKeys.Email]</label>
		<input class="form-control" type="email" @bind-value="@SignInModel.Email" />
		<ValidationMessage For="@(() => SignInModel.Email)" />
	</div>

	<div class="form-group">
		<label>@_localizer[LoginResourceKeys.Passwort]</label>
		<div style="position: relative;">
			<input class="form-control" type="@(ShowPassword ? "text" : "password")" @bind-value="@SignInModel.Password" />
			<button type="button" @onclick="TogglePasswordVisibility" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); background: none; border: none; cursor: pointer;">
				<i class="fa @(ShowPassword ? "fa-eye-slash" : "fa-eye")"></i>
			</button>
		</div>
		<ValidationMessage For="@(() => SignInModel.Password)" />
		@* <input class="form-control" type="password" @bind-value="@SignInModel.Password" />
		<ValidationMessage For="@(() => SignInModel.Password)" /> *@
	</div>

	<div class="flex gap-2 mt-3">
		<button class="btn btn-outline flex-1" type="button" @onclick="OnBack">@_localizer[LoginResourceKeys.Zurueck]</button>
		<button class="btn-login flex-1y" type="submit">
			@_localizer[LoginResourceKeys.Anmelden]
		</button>
	</div>
</EditForm>

@code {
	[Parameter]
	public EventCallback OnBack { get; set; }

	private SignInModel SignInModel = new();

	private bool ShowPassword = false;

	private void TogglePasswordVisibility()
	{
		ShowPassword = !ShowPassword;
	}

	private async Task DoLoginAsync()
	{
		var result = await _authService.LoginAsync(SignInModel.Email, SignInModel.Password);

		if (result != null)
		{
			if (!string.IsNullOrWhiteSpace(result.IdToken))
			{
				var userDoc = await _firestoreService.GetUserByUserIdAsync(result.IdToken, result.LocalId);

				AuthStateService.SetUser(result, userDoc);

				if (Platform.IsRunningInMaui())
				{
					if (AuthStateService.CurrentUser.Rolle == "Lehrer")
						Navigation.NavigateTo("/dashboard");
					else if (AuthStateService.CurrentUser.Rolle == "Schüler")
						Navigation.NavigateTo("/dashboard");
				}
				else
				{
					if (AuthStateService.CurrentUser.Rolle == "Lehrer")
						Navigation.NavigateTo("/dashboard", forceLoad: true);
					else if (AuthStateService.CurrentUser.Rolle == "Schüler")
						Navigation.NavigateTo("/dashboard", forceLoad: true);
				}
			}
		}
	}
}
